:root {
    --green: #1DB954;
    --black: #191414;
    --white: #ffffff;
    --lightGrey: #b3b3b3;
    --darkGrey: #535353;

    --pink: #fa57c1;
    --darkPink: #b166cc;
    --purple: #7572ff;
    --appleBlue: #69a6f9;

    --primary: var(--green);
    --secondary: var(-black);
    --third: var(--white);
    --fourth: var(--lightGrey);
    --fifth: var(--darkGrey);
}

.spotifyTheme {
    --primary: var(--green);
    --secondary: var(-black);
    --third: var(--white);
    --fourth: var(--lightGrey);
    --fifth: var(--darkGrey);
}

.Sbutton {

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 48px;
    color: #000000;
    background-color: #1ED760;
    height: 48px;

    :hover {
        transform: scale(1.04);
        background-color: #21e065;
    }
    
}

.appleTheme {
    --primary: var(--pink);
    --secondary: var(--darkPink);
    --third: var(--purple);
    --fourth: var(--appleBlue);
    --fifth: var(--white);
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100vw;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26%;
    height: 23%;
    background-color: bisque;
    border-radius: 20%;
}