:root {
    --green: #1ab14f;
    --black: #191414;
    --white: #d8d8d8;
    --lightGrey: #b3b3b3;
    --darkGrey: #535353;

    --pink: #fa57c1;
    --darkPink: #b166cc;
    --purple: #7572ff;
    --appleBlue: #69a6f9;

    --primary: var(--green);
    --secondary: var(--black);
    --third: var(--white);
    --fourth: var(--lightGrey);
    --fifth: var(--darkGrey);
}

.spotifyTheme {
    --primary: var(--green);
    --secondary: var(-black);
    --third: var(--white);
    --fourth: var(--lightGrey);
    --fifth: var(--darkGrey);
    --buttoncolor: #1ED760;
}
.appleTheme {
    --primary: var(--darkPink);
    --secondary: var(--pink);
    --third: var(--purple);
    --fourth: var(--appleBlue);
    --fifth: var(--white);
    --buttoncolor: #71a5ef;
}
.Sbutton {

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 48px;
    color: #000000;
    background-color: var(--buttoncolor);
    height: 48px;

    :hover {
        transform: scale(1.04);
        background-color: #21e065;
    }
    
}

.image {
    max-width: 13rem;
    max-height: 9rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10%;
    background: var(--primary);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17rem;
    height: 16rem;
    background-color: var(--fifth);
    border-radius: 20%;
    margin-bottom: 5rem;
}

#filters {
    display:flex;
    justify-content: space-evenly;
    background-color: var(--primary);
}